<app-nav-menu></app-nav-menu>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">{{'nav.newOffer'|translate}}</div>
        <div class="card-body">
          <app-offer-form></app-offer-form>

        </div>
      </div>
      <div class="card" style="margin-top:1%;">
        <div class="card-header">{{'nav.manyOffers'|translate}} (CSV)</div>

        <app-many-offers></app-many-offers>
      </div>
    </div>
  </div>
</div>
