<app-atom-spinner *ngIf="loading" [animationDuration]="1000"
                  [size]="60"
                  [color]="'#156383'"></app-atom-spinner>
  <div *ngIf="!loading">
    <app-nav-menu></app-nav-menu>
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary" (click)="refresh()"> Odśwież</button>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let o of offer| paginate: { itemsPerPage: 10, currentPage: p }" style="margin-top: 1%;">
        <div>
          <h5>
            <b>{{o.title}}</b>

          </h5>
          <div class="row ">
            <div class="col-md-6 " style="font-size:small;">
              {{o.description}}
            </div>
            <div class="col-md-3">
              <b>{{'offer.money'|translate}}</b><br />
              {{o.declaredCost|number:'1.2-2'}} PLN
            </div>
            <div class="col-md-3">
              <b>{{'offer.end'|translate}}</b><br />
              {{o.endOfferDate | date : "dd.MM.yyyy" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <b>{{'offer.addedBy'|translate}}</b><br />
              {{o.addedBy?.username}}
            </div>
            <div class="col-md-3">
              <b> {{'offer.cat'|translate}}</b><br />
              {{o.category?.description}}
            </div>
            <div class="col-md-3">
              <button class="btn-primary btn-primary btn-sm" *ngIf="canBid&&userId!=o.addedById" (click)="bid(o.id)">{{'offer.details'|translate}} </button><br />
              <button class="btn-primary btn-primary btn-sm" *ngIf="canBid&&userId==o.addedById" (click)="editCourse(o)">Edycja</button><br />
              <button style="margin-top:5px;" class="btn-primary btn-primary btn-sm" *ngIf="canBid&&userId==o.addedById" (click)="showDetails(o.id)">{{'offer.lookup'|translate}}</button>
            </div>
          </div>
          <div class="row" *ngIf="o.bidding">
            <input class="form-control" type="number" step="0.01" id="bid" #bid [(ngModel)]="cost" /><br />
            <button class="btn-primary btn-primary btn-sm" (click)="applyFor(o.id)">{{'offer.offer'|translate}} </button><br />

          </div>
          <div class="row" *ngIf="o.editing">
            <div class="col-md-12">
              <app-offer-form [offer]="o" (offerFGOutput)="seteditFG($event)" (jobOffer)="setOffer($event)"></app-offer-form>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="form-group row mb-0 justify-content-center">
      <div class="col-md-8 offset-md-4">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
